/* variable */
:root {
    --black: black;
    --white: white;
    /* dark */
    --dark-color: #eee;
    /* --dark-color-history: rgb(53, 54, 58); */
    --dark-color-header: rgb(32, 33, 35);
    --dark-color-main: rgb(68, 70, 84);
    --dark-color-history: rgb(52, 53, 65);
    --dark-point-color1: royalblue;
    --dark-point-color2: burlywood;

    --dark-text-shadow: rgb(236, 236, 236);

    /* light */
    /* rgb(236, 236, 236) */

    --light-color: #111;
    --light-color-header: rgb(132, 133, 235);
    --light-color-main: rgb(168, 170, 184);
    --light-color-history: rgb(82, 83, 85);
    --light-point-color1: red;
    --light-point-color2: green;

    --light-text-shadow: rgb(32, 33, 35);

    /* border */
    --border-gray: #ddd;
    --border-black: black;

    --dark-point-border: skyblue;
    --light-point-border: black;
}

/* background color setting for dark mode */

/* subject-title holder, title */
body.dark-mode .subject-title {
    color: var(--white);
}
body.light-mode .subject-title {
    color: var(--black);
}

body.dark-mode .select-language.title-holder {
    border-bottom: solid 1px var(--border-gray);
}
body.light-mode .select-language.title-holder {
    border-bottom: solid 1px var(--border-black);
}

body.dark-mode .chat-view-wrap .title-holder {
    background-color: var(--dark-point-color1);
}
body.light-mode .chat-view-wrap .title-holder {
    background-color: var(--light-point-color1);
}

body.dark-mode .select-purpose .title-holder {
    border-bottom: solid 1px var(--border-gray);
}
body.light-mode .select-purpose .title-holder {
    border-bottom: solid 1px var(--border-black);
}

/* body.dark-mode .chat-input .title-holder {

}
body.light-mode .chat-input .title-holder {

} */

/* header */
body.dark-mode .layout-header {
    background-color: var(--dark-color-header);
}
body.light-mode .layout-header {
    background-color: var(--light-color-header);
}

body.dark-mode .layout-header .dark-mode-button {
    background-color: var(--dark-color-header);
    text-shadow: 0 0 0 var(--dark-text-shadow);
}
body.light-mode .layout-header .dark-mode-button {
    background-color: var(--light-color-header);
    text-shadow: 0 0 0 var(--light-text-shadow);
}

body.dark-mode .layout-header h1 a {
    color: var(--white);
}
body.light-mode .layout-header h1 a {
    color: var(--black);
}

/* body */
body.dark-mode {
    background-color: var(--dark-color-main);
}
body.light-mode {
    background-color: var(--light-color-main);
}

/* 함수/변수추천, 코드 컨벤션 추천 버튼 */
body.dark-mode .main-title button {
    background-color: var(--dark-point-color2);
}
body.dark-mode .main-title button.title-selected {
    background-color: var(--dark-point-color1);
}

body.light-mode .main-title button {
    background-color: var(--light-point-color2);
}
body.light-mode .main-title button.title-selected {
    background-color: var(--light-point-color1);
}

/* 언어 선택 */
body.dark-mode .select-language label {
    border: 1px solid var(--border-gray);
    color: var(--white);
}
body.light-mode .select-language label {
    border: 1px solid var(--border-black);
    color: var(--black);
}

body.dark-mode .select-language input[type=radio]:checked+label {
    background-color: var(--dark-point-color1);
    border: 1px solid var(--dark-point-border);
}
body.light-mode .select-language input[type=radio]:checked+label {
    background-color: var(--light-point-color1);
    border: 1px solid var(--light-point-border);
}

/* 챗 뷰 */
body.dark-mode .chat-view {
    background-color: var(--white);
    color: var(--black);
}
body.light-mode .chat-view {
    background-color: var(--white);
    color: var(--black);
}

body.dark-mode .chat-view::-webkit-scrollbar-thumb {
    background: rgb(52, 53, 65);
}
body.light-mode .chat-view::-webkit-scrollbar-thumb {
    background: rgb(52, 53, 65);
}

body.dark-mode .chat-view::-webkit-scrollbar-track {
    background: #ddd;
}
body.light-mode .chat-view::-webkit-scrollbar-track {
    background: #ddd;
}

/* page 1 */
/* 목적 선택 */
body.dark-mode .select-purpose label {
    border: 1px solid #ddd;
    color: #e0e0e0;
}

body.light-mode .select-purpose label {
    border: 1px solid #ddd;
    color: #e0e0e0;
}

body.dark-mode .select-purpose input[type=radio]:checked+label {
    color: royalblue;
    border: 1px solid skyblue;
}

body.light-mode .select-purpose input[type=radio]:checked+label {
    /* color: #000; */
    border: 1px solid skyblue;
}

body.dark-mode .purpose-text-holder input[type=text] {
    background-color: white;
}

body.light-mode .purpose-text-holder input[type=text] {
    background-color: white;
}

/* page 2 */
/* 코드 입력 */
body.dark-mode .question-text-holder textarea {
    background-color: #ccc;
}

body.light-mode .question-text-holder textarea {
    background-color: white;
}

body.dark-mode .question-text-holder textarea::-webkit-scrollbar-thumb {
    background: rgb(52, 53, 65);
}

body.light-mode .question-text-holder textarea::-webkit-scrollbar-thumb {
    background: rgb(52, 53, 65);
}

body.dark-mode .question-text-holder textarea::-webkit-scrollbar-track {
    background: #ddd;
}

body.light-mode .question-text-holder textarea::-webkit-scrollbar-track {
    background: #ddd;
}

/* submit 버튼 */
body.dark-mode .submit-button-holder button {
    background-color: royalblue;
    color: white;
}

body.light-mode .submit-button-holder button {
    background-color: royalblue;
    color: white;
}

/* history */
body.dark-mode .history-container {
    background-color: var(--dark-color-history);
    color: white;
}

body.light-mode .history-container {
    background-color: rgb(236, 236, 236);
    color: black;
}

/* 메뉴 슬라이드 아이콘 */
body.dark-mode .flip-menu-button {
    background-color: var(--dark-color-main);
    text-shadow: 0 0 0 rgb(236, 236, 236);
}

body.light-mode .flip-menu-button {
    background-color: rgb(236, 236, 236);
    text-shadow: 0 0 0 rgb(32, 33, 35);
}

/* list 내부 x아이콘 */
body.dark-mode .icon-history-delete {
    background-color: var(--dark-color-history);
    text-shadow: 0 0 0 rgb(236, 236, 236);
}

body.light-mode .icon-history-delete {
    background-color: rgb(236, 236, 236);
    text-shadow: 0 0 0 rgb(52, 53, 65);
}

body.dark-mode .history-p {
    color: white;
}

body.light-mode .history-p {
    color: black;
}