/* variable */
:root {
    --dark-color : #111;
    --light-color : #eee;
}

/* background color setting for dark mode */
/* header */
.layout-header.dark-mode {
    background-color: rgb(32, 33, 35);
}
.layout-header.light-mode {
    background-color: white;
}
.layout-header.dark-mode .dark-mode-button {
    background-color: rgb(32, 33, 35);
    text-shadow: 0 0 0 rgb(236, 236, 236);
}
.layout-header.light-mode .dark-mode-button {
    background-color: rgb(236, 236, 236);
    text-shadow: 0 0 0 rgb(32, 33, 35);
}
.scale-down {
    transform: scale(0) rotate(180deg);
}
.layout-header.dark-mode h1 a {
    color: white;
}
.layout-header.light-mode h1 a {
    color: black;
}

/* body */
body.dark-mode {
    background-color: rgb(68, 70, 84);
}
body.light-mode {
    background-color: white;
}

body.dark-mode .subject-title {
    color: white;
}
body.light-mode .subject-title {
    color: black;
}

body.dark-mode .select-language label {
    border: 1px solid #ddd;
}
body.light-mode .select-language label {
    border: 1px solid #ddd;
}
body.dark-mode .select-language input[type=radio] + label {
    color: #e0e0e0;
}
body.light-mode .select-language input[type=radio] + label {
    color: #e0e0e0;
}
body.dark-mode .select-language input[type=radio]:checked + label {
    color: #000;
    border: 1px solid skyblue;
}
body.light-mode .select-language input[type=radio]:checked + label {
    color: #000;
    border: 1px solid skyblue;
}

body.dark-mode .chat-view {
    background-color: white;
    color: black;
}
body.light-mode .chat-view {
    background-color: white;
    color: black;
}
body.dark-mode .chat-view::-webkit-scrollbar-thumb{
    background: rgb(52, 53, 65);
}
body.light-mode .chat-view::-webkit-scrollbar-thumb{
    background: rgb(52, 53, 65);
}
body.dark-mode .chat-view::-webkit-scrollbar-track {
    background: #ddd;
}
body.light-mode .chat-view::-webkit-scrollbar-track {
    background: #ddd;
}

body.dark-mode .section-page-change{
    background-color: sandybrown;
}
body.light-mode .section-page-change{
    background-color: sandybrown;
}

body.dark-mode .select-purpose input::placeholder {
    color: white;
}
body.light-mode .select-purpose input::placeholder {
    color: white;
}

body.dark-mode .chat-form {
    background-color: white;
}
body.light-mode .chat-form {
    background-color: white;
}
body.dark-mode .chat-form button {
    background-color: royalblue;
    color: white;
}
body.light-mode .chat-form button {
    background-color: royalblue;
    color: white;
}

/* history */
.history-container.dark-mode {
    /* background-color: rgb(53, 54, 58); */
    background-color: rgb(52, 53, 65);
    color: white;
}
.history-container.light-mode {
    background-color: rgb(52, 53, 65);
    color: white;
}