.main-container {
    display: flex;
    height: calc(100vh - 80px);
}

.chat-container {
    /* background-color: rgb(60, 64, 67); */
    background-color: rgb(68, 70, 84);
    padding: 20px 0px 40px 0px;
    /* border-right: 1px solid #ddd; */
    border: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.history-container {
    /* background-color: rgb(53, 54, 58); */
    background-color: rgb(52, 53, 65);
    color: white;
    width: 300px;
}

.chat-wrap {
    color: white;
    /* background-color: skyblue; */
    width: 50%;
    min-width: 600px;
    max-width: 800px;
}

.chat-view {
    height: 85%;
    overflow-y: auto;
    mask-image: linear-gradient(0deg, transparent 0%, black 10%);
    -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 10%);
    padding-bottom: 32px;
}
.chat-view::-webkit-scrollbar {
    width: 8px;
}
.chat-view::-webkit-scrollbar-thumb{
    background: rgb(52, 53, 65); /* 스크롤바의 색상 */
    border-radius: 10px;
}
.chat-view::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-form {
    /* display: flex;
    justify-content: center;
    align-self: center;
    width: 80%; */
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 16px;
    align-items: center;
    margin-top: 40px;
    
}

.chat-form textarea {
    /* border: none; */
    border: none;
    resize: none;
    flex-grow: 1;
    height: 60px;   
}

.chat-form button {
    background-color: royalblue;
    border: 0;
    color: white;
    width: 80px;
    height: 32px;
    border-radius: 10px;
}