

/* css */
.dark-mode-button { 
    scale: 1.5;
    border: 0;
    color: transparent;
    margin-right: 15px;
    transition: text-shadow ease 0.3s, transform ease 0.3s;
}
/* hover에서 나중에 js 클릭했을 때로 바꿀 것 */
/* .dark-mode-button:hover {
    transition: all ease 0.5s;
    transform: rotate(90deg);
    text-shadow: 0 0 0 rgb(33, 37, 41);
} */

.main-container {
    display: flex;
    height: calc(100vh - 80px);
}

.chat-container {
    /* background-color: rgb(60, 64, 67); */
    padding: 20px 0px 40px 0px;
    /* border-right: 1px solid #ddd; */
    border: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.history-container {
    /* background-color: rgb(53, 54, 58); */
    background-color: rgb(52, 53, 65);
    color: white;
    width: 300px;
}

.chat-wrap {
    color: white;
    width: 50%;
    max-width: 800px;
}

.select-chatview-wrap {
    height: 85%;
    overflow-y: auto;
    mask-image: linear-gradient(0deg, transparent 0%, black 10%);
    -webkit-mask-image: linear-gradient(0deg, transparent 0%, black 10%);
    padding-bottom: 32px;
}
.select-language {
    display: flex;
    gap: 5px;
    padding-top: 2px;
}

.select-language label {
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.select-language input[type=radio] {
    display: none;
}
.select-language input[type=radio] + label {
    color: #e0e0e0;
    font-size: 20px;
}
.select-language input[type=radio]:checked + label {
    color: #000;
    border: 1px solid skyblue;
}

.select-purpose {

}


.select-purpose input {
    outline: none;
}
.select-purpose input::placeholder {
    color: white;
}

.chat-view {
    background-color: white;
    color: black;
}
.chat-view::-webkit-scrollbar {
    width: 8px;
}
.chat-view::-webkit-scrollbar-thumb{
    background: rgb(52, 53, 65);
    border-radius: 10px;
}
.chat-view::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-form {
    /* display: flex;
    justify-content: center;
    align-self: center;
    width: 80%; */
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 16px;
    align-items: center;
    margin-top: 40px;
    
}

.chat-form textarea {
    /* color: white; */
    border: none;
    resize: none;
    flex-grow: 1;
    height: 60px;
    overflow-y: hidden;
    outline: none;
}

.chat-form button {
    background-color: royalblue;
    border: 0;
    color: white;
    width: 80px;
    height: 32px;
    border-radius: 10px;
}